gunicorn==20.1.0
Django==4.0.5
spacy==3.3.0
scikit-learn==1.0.2
django_heroku==0.3.1
pandas==1.4.1
morfeusz2==1.99.4
https://github.com/explosion/spacy-models/releases/download/pl_core_news_md-3.3.0/pl_core_news_md-3.3.0.tar.gz
gensim==4.1.2
pytest==7.1.2
numpy==1.22.3
heroku3
plotly
kaleido
