argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
blis
Bottleneck
brotlipy
bs4
catalogue
certifi
cffi
charset-normalizer
click
colorama
cryptography
cymem
debugpy
decorator
defusedxml
dj-database-url
Django
django-heroku
entrypoints
executing
fastjsonschema
ghp-import
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
langcodes
Markdown
MarkupSafe
matplotlib-inline
mergedeep
mistune
mkdocs
mkl-fft
mkl-random
mkl-service
morfeusz2
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
packaging
pandas
pandocfilters
parso
pathy
pexpect
pickleshare
pip
pip-chill
pluggy
preshed
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
py
pycparser
pydantic
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
pystempel
pytest
python-dateutil
pytz
PyYAML
pyyaml-env-tag
pyzmq
qtconsole
QtPy
requests
Send2Trash
setuptools
shellingham
sip
six
smart-open
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
terminado
testpath
thinc
tinycss2
tomli
tornado
tqdm
traitlets
typer
typing-extensions
urllib3
wasabi
watchdog
wcwidth
webencodings
wheel
whitenoise
widgetsnbextension
zipp
