argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
beautifulsoup4==4.10.0
bleach
blis
Bottleneck
brotlipy
bs4==0.0.1
catalogue
certifi
cffi
charset-normalizer
click
colorama
cryptography
cymem
debugpy
decorator
defusedxml
dj-database-url
Django==4.0.5
django-heroku
entrypoints
executing
fastjsonschema
ghp-import
gunicorn
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
langcodes
Markdown
MarkupSafe
matplotlib-inline
mergedeep
mistune
mkdocs
morfeusz2==1.99.4
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy==1.22.3
packaging
pandas==1.4.1
pandocfilters
parso
pathy
pexpect
pickleshare
pip
pip-chill
pluggy
preshed
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
py
pycparser
pydantic
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
pystempel
pytest==7.1.2
python-dateutil
pytz
PyYAML
pyyaml-env-tag
pyzmq
qtconsole
QtPy
requests==2.27.1
Send2Trash
setuptools
shellingham
sip
six
smart-open
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
terminado
testpath
thinc
tinycss2
tomli
tornado
tqdm
traitlets
typer
typing-extensions
urllib3
wasabi
watchdog
wcwidth
webencodings
wheel
whitenoise
widgetsnbextension
zipp

scikit-learn==1.0.1