html, body {
  margin:0;
  height:100%;
    overflow:auto;
    background-color: #1abc9c;
}

.button {
  cursor: pointer;
background-color: #1abc9c; /* Green */
  border: floralwhite;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: floralwhite; /* Green */
  color: black;
}