<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}
    <div>
        <p>Oceny modelu nr 1</p>
        <img src="../../static/charts/results1.png" alt="Dinosaur">
    </div>
    <div>
        <p>Oceny modelu nr 2</p>
        <img src="../../static/charts/results2.png" alt="Dinosaur">
    </div>
    <div>
        <p>Oceny modely nr 3</p>
        <img src="../../static/charts/results3.png" alt="Dinosaur">
    </div>
    <div>
        <a href="/"><span class="button">Powrót</span></a>
    </div>
</body>
</html>