<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <title>Aplikacja</title>
</head>
<body>
<div class="bg-container">


<div class="center">
<p class>
    Aplikacja,która na podstawie analizy treści podpowiadająca podobne artykuły z zakresu ekologii.
</p>

<p>Składa się z trzech modeli, do ich wyterenowania użyto ponad 7 tys. artykułów ze stron:
 <ul>
  <li>ekologia.pl</li>
  <li>interia.pl</li>
  <li>spidersweb.pl</li>
    <li>zielonewiadomosci.pl</li>
    <li>ziemianarozdrozu.pl</li>
</ul>
</p>

<a href="/recommender"><span class="button">Otwórz</span></a>

</div>

</div>
</body>
</html>
