<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="'stylesheet" href={%  static  'css/index.css' %}>
    <title>Title</title>
</head>
<body>
<p>
    Aplikacja,która na podstawie analizy treści podpowiadająca podobne artykuły z zakresu ekologii.
</p>

<p>Składa się z trzech modeli, do ich wyterenowania użyto ponad 7 tys. artykułów ze stron:
 <ul>
  <li>ekologia.pl</li>
  <li>interia.pl</li>
  <li>spidersweb.pl</li>
    <li>zielonewiadomosci.pl</li>
    <li>ziemianarozdrozu.pl</li>
</ul>
</p>

<button type="button">
    <a href="/recommender">Otwórz</a>
</button>

</body>
</html>
