<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../static/css/recommender.css">
    <title>Aplikacja</title>
</head>
<body>
    <div class="bg-container">
        <div class="center">
        <form action = "" method = "post">
            {% csrf_token %}
            {{form }}
            <input type="submit" value="Pokaż propozycje" class="button">
        </form>
        </div>
    </div>

</body>
</html>